In [1]:
import pandas as pd
import numpy as np
import json
import nltk
import re
import csv
import matplotlib.pyplot as plt 
import seaborn as sns
from tqdm import tqdm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
meta = pd.read_csv("../data/movie.metadata.tsv", sep = '\t', header = None)
meta.columns = ["movie_id",1,"movie_name",3,4,5,6,7,"genre"]
meta.head()

,movie_id,1,movie_name,3,4,5,6,7,genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [3]:
plots = []
with open("../data/plot_summaries.txt", 'r') as f:
    reader = csv.reader(f, dialect='excel-tab') 
    for row in tqdm(reader):
        plots.append(row)

42303it [00:01, 38211.60it/s]

In [4]:
movie_id = []
plot = []

# extract movie Ids and plot summaries
for i in tqdm(plots):
    movie_id.append(i[0])
    plot.append(i[1])

# create dataframe
movies = pd.DataFrame({'movie_id': movie_id, 'plot': plot})

100%|██████████| 42303/42303 [00:00<00:00, 1192954.10it/s]

In [5]:
movies.shape

(42303, 2)

In [6]:
# change datatype of 'movie_id'
meta['movie_id'] = meta['movie_id'].astype(str)

# merge meta with movies
movies = pd.merge(movies, meta[['movie_id', 'movie_name', 'genre']], on = 'movie_id')

In [7]:
movies.shape

(42204, 4)

In [8]:
genres = [] 

# extract genres
for i in movies['genre']: 
    genres.append(list(json.loads(i).values())) 

# add to 'movies' dataframe  
movies['genre_new'] = genres

In [9]:
movies.head()

,movie_id,plot,movie_name,genre,genre_new
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...",Taxi Blues,"{""/m/07s9rl0"": ""Drama"", ""/m/03q4nz"": ""World ci...","[Drama, World cinema]"
1,31186339,The nation of Panem consists of a wealthy Capi...,The Hunger Games,"{""/m/03btsm8"": ""Action/Adventure"", ""/m/06n90"":...","[Action/Adventure, Science Fiction, Action, Dr..."
2,20663735,Poovalli Induchoodan is sentenced for six yea...,Narasimham,"{""/m/04t36"": ""Musical"", ""/m/02kdv5l"": ""Action""...","[Musical, Action, Drama, Bollywood]"
3,2231378,"The Lemon Drop Kid , a New York City swindler,...",The Lemon Drop Kid,"{""/m/06qm3"": ""Screwball comedy"", ""/m/01z4y"": ""...","[Screwball comedy, Comedy]"
4,595909,Seventh-day Adventist Church pastor Michael Ch...,A Cry in the Dark,"{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...","[Crime Fiction, Drama, Docudrama, World cinema..."

In [10]:
movies_new = movies[~(movies['genre_new'].str.len() == 0)]

In [11]:
movies_new.shape

(41793, 5)

In [ ]:
all_genres = sum(genres,[])

In [ ]:
genre_set = set(all_genres)

In [ ]:
all_genres = nltk.FreqDist(all_genres) 

# create dataframe
all_genres_df = pd.DataFrame({'Genre': list(all_genres.keys()), 'Count': list(all_genres.values())})

In [ ]:
g = all_genres_df.nlargest(columns="Count", n = 70) 
plt.figure(figsize=(15,15)) 
ax = sns.barplot(data=g, x= "Count", y = "Genre") 
ax.set(ylabel = 'Count') 
plt.show()

In [12]:
movies_new[movies_new['movie_id']=='1952976']

,movie_id,plot,movie_name,genre,genre_new
6,1952976,"{{plot}} The film opens in 1974, as a young gi...",Dark Water,"{""/m/01jfsb"": ""Thriller"", ""/m/07s9rl0"": ""Drama...","[Thriller, Drama, Horror]"

In [ ]:
def clean_text(text):
    # remove a string like {{plot}}
    text = re.sub("\s*{{\w*}}\s*", "", text)
    # remove backslash-apostrophe 
    text = re.sub("\'", "", text)
    return text

In [ ]:
movies_new['clean_plot'] = movies_new['plot'].apply(lambda x: clean_text(x))

In [41]:
pd.set_option('display.max_colwidth', 300)
movies_new[movies_new['movie_id']=='1952976']

,movie_id,plot,movie_name,genre,genre_new
6,1952976,"{{plot}} The film opens in 1974, as a young girl, Dahlia, stands outside after school in the rain, waiting for her mother. Flash forward to 2005, we see a grown-up Dahlia in the midst of a bitter mediation with ex-husband, Kyle , over custody of their daughter, Cecilia . Kyle wants Cecilia to l...",Dark Water,"{""/m/01jfsb"": ""Thriller"", ""/m/07s9rl0"": ""Drama"", ""/m/03npn"": ""Horror""}","[Thriller, Drama, Horror]"

In [ ]:
def freq_words(x, terms):
    all_words = ' '.join([text for text in x]) 
    all_words = all_words.split() 
    fdist = nltk.FreqDist(all_words) 
    words_df = pd.DataFrame({'word':list(fdist.keys()), 'count':list(fdist.values())}) 
  
    # selecting top 20 most frequent words 
    d = words_df.nlargest(columns="count", n = terms) 
  
    # visualize words and frequencies
    plt.figure(figsize=(12,15)) 
    ax = sns.barplot(data=d, x= "count", y = "word") 
    ax.set(ylabel = 'Word') 
    plt.show()

# print 100 most frequent words 
freq_words(movies_new['clean_plot'], 100)

In [ ]:
dict={}
count=0
for movie_id in movies_new['movie_id']:
    plot_sr = movies_new[movies_new['movie_id']==movie_id]['clean_plot']
    for str_obj in plot_sr:
        plot=str_obj
    sentence_list = []
    for sentence in plot.split('.'):
        if len(sentence)==0:
            count+=1

In [29]:
x = movies_new[movies_new['movie_id']=='31186339']['plot']

In [30]:
for y in x:
    plot = y

In [37]:
from nltk.tokenize import sent_tokenize
z1=sent_tokenize(plot)

In [32]:
z1

['The nation of Panem consists of a wealthy Capitol and twelve poorer districts.',
 'As punishment for a past rebellion, each district must provide a boy and girl  between the ages of 12 and 18 selected by lottery  for the annual Hunger Games.',
 'The tributes must fight to the death in an arena; the sole survivor is rewarded with fame and wealth.',
 'In her first Reaping, 12-year-old Primrose Everdeen is chosen from District 12.',
 'Her older sister Katniss volunteers to take her place.',
 "Peeta Mellark, a baker's son who once gave Katniss bread when she was starving, is the other District 12 tribute.",
 'Katniss and Peeta are taken to the Capitol, accompanied by their frequently drunk mentor, past victor Haymitch Abernathy.',
 'He warns them about the "Career" tributes who train intensively at special academies and almost always win.',
 'During a TV interview with Caesar Flickerman, Peeta unexpectedly reveals his love for Katniss.',
 'She is outraged, believing it to be a ploy to gain audience support, as "sponsors" may provide in-Games gifts of food, medicine, and tools.',
 'However, she discovers Peeta meant what he said.',
 "The televised Games begin with half of the tributes killed in the first few minutes; Katniss barely survives ignoring Haymitch's advice to run away from the melee over the tempting supplies and weapons strewn in front of a structure called the Cornucopia.",
 'Peeta forms an uneasy alliance with the four Careers.',
 'They later find Katniss and corner her up a tree.',
 'Rue, hiding in a nearby tree, draws her attention to a poisonous tracker jacker nest hanging from a branch.',
 'Katniss drops it on her sleeping besiegers.',
 'They all scatter, except for Glimmer, who is killed by the insects.',
 'Hallucinating due to tracker jacker venom, Katniss is warned to run away by Peeta.',
 'Rue cares for Katniss for a couple of days until she recovers.',
 'Meanwhile, the alliance has gathered all the supplies into a pile.',
 'Katniss has Rue draw them off, then destroys the stockpile by setting off the mines planted around it.',
 'Furious, Cato kills the boy assigned to guard it.',
 'As Katniss runs from the scene, she hears Rue calling her name.',
 'She finds Rue trapped and releases her.',
 'Marvel, a tribute from District 1, throws a spear at Katniss, but she dodges the spear, causing it to stab Rue in the stomach instead.',
 'Katniss shoots him dead with an arrow.',
 'She then comforts the dying Rue with a song.',
 "Afterward, she gathers and arranges flowers around Rue's body.",
 "When this is televised, it sparks a riot in Rue's District 11.",
 'President Snow summons Seneca Crane, the Gamemaker, to express his displeasure at the way the Games are turning out.',
 'Since Katniss and Peeta have been presented to the public as "star-crossed lovers", Haymitch is able to convince Crane to make a rule change to avoid inciting further riots.',
 'It is announced that tributes from the same district can win as a pair.',
 'Upon hearing this, Katniss searches for Peeta and finds him with an infected sword wound in the leg.',
 "She portrays herself as deeply in love with him and gains a sponsor's gift of soup.",
 'An announcer proclaims a feast, where the thing each survivor needs most will be provided.',
 'Peeta begs her not to risk getting him medicine.',
 'Katniss promises not to go, but after he falls asleep, she heads to the feast.',
 'Clove ambushes her and pins her down.',
 'As Clove gloats, Thresh, the other District 11 tribute, kills Clove after overhearing her tormenting Katniss about killing Rue.',
 'He spares Katniss "just this time...for Rue".',
 'The medicine works, keeping Peeta mobile.',
 'Foxface, the girl from District 5, dies from eating nightlock berries she stole from Peeta; neither knew they are highly poisonous.',
 'Crane changes the time of day in the arena to late at night and unleashes a pack of hound-like creatures to speed things up.',
 'They kill Thresh and force Katniss and Peeta to flee to the roof of the Cornucopia, where they encounter Cato.',
 'After a battle, Katniss wounds Cato with an arrow and Peeta hurls him to the creatures below.',
 'Katniss shoots Cato to spare him a prolonged death.',
 'With Peeta and Katniss apparently victorious, the rule change allowing two winners is suddenly revoked.',
 'Peeta tells Katniss to shoot him.',
 'Instead, she gives him half of the nightlock.',
 'However, before they can commit suicide, they are hastily proclaimed the victors of the 74th Hunger Games.',
 'Haymitch warns Katniss that she has made powerful enemies after her display of defiance.',
 'She and Peeta return to District 12, while Crane is locked in a room with a bowl of nightlock berries, and President Snow considers the situation.']

In [33]:
sent_detector = nltk.data.load('tokenizers/punkt/english.pickle')
z2=sent_detector.tokenize(plot.strip())

In [35]:
for w in z1:
    if len(w)==0:
        print('--------')

In [39]:
plot.strip()==plot

True

In [40]:
type(z1)

list